# Terraform state
*.tfstate
*.tfstate.*

# Terraform lock
.terraform.lock.hcl

# Terraform directory
.terraform/

# Terraform crash logs
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/

# binaries
*.deb
*.zip
*.tar
*.tar.gz
